<header class="header">
  <img src="/assets/user_profile.jpg" alt="User Profile Photo" class="header__profile" />
  <span class="header__user">Bonjour Benjamin</span>
</header>
<section class="sidebar">
  <button>Nouveau message</button>
  <span class="sidebar__inbox">
    <h6 class="sidebar__inbox__title">Messagerie</h6>
    <ul class="sidebar__inbox__folders">
      <li class="sidebar__inbox__folders__item sidebar__inbox__folders__item--active">Boîte de réception (12)</li>
      <li class="sidebar__inbox__folders__item">Brouillons</li>
      <li class="sidebar__inbox__folders__item">Corbeille</li>
    </ul>
  </span>
</section>